/* Custom cursor */
.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border: 2px solid var(--accent-red);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    mix-blend-mode: difference;
    transition: width 0.3s, height 0.3s, background-color 0.3s;
}

.custom-cursor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    background: var(--accent-red);
    border-radius: 50%;
}

.custom-cursor.active {
    width: 50px;
    height: 50px;
    background-color: rgba(227, 27, 84, 0.1);
    mix-blend-mode: normal;
}

.cursor-dot {
    position: fixed;
    width: 4px;
    height: 4px;
    background-color: var(--accent-red);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    transition: transform 0.1s;
}